{% extends "base.html" %}
{% block content %}
<div class="main_for_log">
    <div class="main-content">
        <h2>Вход</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="trouble">
            <span class="trouble_text">
                {{ messages[0] }}
            </span>
        </div>
        {% endif %}
        {% endwith %}
        <div class="paragraph-box paragraph-box-1">
            <form method="POST" action="/login" enctype="multipart/form-data">
                <p class="question">Введите ваши данные для входа:</p>
                <label for="login" class="sign">Логин:</label>
                <input name="login" type="text" size="40" value="" id="login" class="write">
                <label for="password" class="sign">Пароль:</label>
                <input name="password" type="password" size="40" value="" id="password" class="write">
                <input name="submit" type="submit" value="Готово" class="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}