{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="trouble">
    <span class="trouble_text">
        {{ messages[0] }}
    </span>
</div>
{% endif %}
{% endwith %}

{% if current_user.id_post %}
<div id="slider" class="slider">
    {% if current_user.id_post < max_id %}
    <a href="{{ url_for('navi.next') }}" id="arrow_left" class="a_arrow_left">
	    <div class="arrow arrow__left"><div class="icon_arrow__left"></div></div>
    </a>
    {% else %}
    <a href="" id="arrow_left" class="a_arrow_left hidden">
            <div class="arrow arrow__left"><div class="icon_arrow__left"></div></div>
    </a>
    {% endif %}
    
    <div class="slide">
        {% with post = posts.query.get(current_user.id_post) %}
        {% with post_author = users.query.get(post.id_author) %}
        <div class="post_img">
            <img src="{{ url_for('static', filename='/pictures/'+post.img_path) }}">
        </div>

        <div class="post_info">
            <div class="user_info">
                <img class="user_photo" src="{{ url_for('static', filename='/avatars/'+post_author.avatar_path) }}" alt="">
                <span class="user_name">{{ post_author.login }}</span>
            </div>
            <div class="post_feedback">
                <form method="POST" action="/score" enctype="multipart/form-data">
                    <div class="feedback_buttons">
                        <div class="like_info">
                            <button type="submit" name="like" class="post_like_button">
                                <img id="post_1__post_like" class="post_like" src="{{ url_for('static', filename='/img/'+('Like.png' if you_liked else 'notLike.png')) }}" alt="">
                            </button>
                            <span id="post_1__like_count" class="like_count">{{ likes }}</span>
                        </div>
                        <div class="dislike_info">
                            <button type="submit" name="dislike" class="post_dislike_button" >
                                <img id="post_1__post_dislike" class="post_dislike" src="{{ url_for('static', filename='/img/'+('Dislike.png' if you_disliked else 'notDislike.png')) }}" alt="">
                            </button>
                            <span id="post_1__dislike_count" class="dislike_count">{{ dislikes }}</span>
                        </div>
                    </div>
                    <div class="setting_buttons">
			{% if current_user.id == post_author.id or current_user.is_admin %}
                        <a href="{{ url_for('post.edit') }}"><span class="pen">✏️</span></a>
                        <a href="{{ url_for('post.delete') }}"><span class="trash">🗑️</span></a>
			{% endif %}
                    </div>
                </form>
            </div>
            <div class="post_text_block">
                <span class="post_text">{{ post.text }}</span>
            </div>
        </div>
	{% endwith %}
    	{% endwith %}
    </div>
    {% if current_user.id_post > min_id %}
    <a href="{{ url_for('navi.previous') }}" id="arrow_right" class="a_arrow_right">
	    <div class="arrow arrow__right"><div class="icon_arrow__right"></div></div>
    </a>
    {% else %}
    <a href="" id="arrow_right" class="a_arrow_right hidden">
            <div class="arrow arrow__right"><div class="icon_arrow__right"></div></div>
    </a>
    {% endif %}
</div>
<div class="extra_link">
    {% if current_user.id_post < max_id %}
    <a href="{{ url_for('navi.first') }}" class="first_post_link">
	<div class="end_post">
            <div class="icon_arrow__left change_arrow"></div>
            <span>Первая запись</span>
        </div>
    </a>
    {% else %}
    <a href="" class="first_post_link hidden">
        <div class="end_post">
            <div class="icon_arrow__left change_arrow"></div>
            <span>Первая запись</span>
        </div>
    </a>
    {% endif %}

    <div class="num_post">
	    <span>{{ true_id }}/{{ posts_amount }}</span>
    </div>

    {% if current_user.id_post > min_id %}
    <a href="{{ url_for('navi.last') }}" class="first_post_link">
        <div class="end_post">
            <span>Последняя запись</span>
            <div class="icon_arrow__right change_arrow change_arrow__right"></div>
        </div>
    </a>
    {% else %}
    <a href="" class="first_post_link hidden">
        <div class="end_post">
            <span>Последняя запись</span>
            <div class="icon_arrow__right change_arrow change_arrow__right"></div>
        </div>
    </a>
    {% endif %}
</div>

{% else %}

<div class="slider">
	<div class="slide">
		<div class="post_img">
        	        <img src="{{ url_for('static', filename='pictures/no-post.jpg') }}">
	        </div>
	</div>
</div>

{% endif %}

<script src="{{ url_for('static', filename='js/app.js')}}"></script>
{% endblock %}
