{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <h2>Регистрация</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="trouble">
        <span class="trouble_text">
            {{ messages[0] }}
        </span>
    </div>
    {% endif %}
    {% endwith %}
    <div class="paragraph-box">
        <form method="POST" action="/signup" enctype="multipart/form-data">
            <p class="question">Введите ваши данные для регистрации:</p>
            <label for="login" class="sign">Логин:</label>
            <input name="login" type="text" size="40" value="" id="login" class="write">
            <label for="password" class="sign">Пароль:</label>
            <input name="password" type="password" size="40" value="" id="password" class="write">
            <label>
                <input type="checkbox" name="admin_checkbox" class="admin_checkbox">
                <div class="admin_info">
                    <div class="check-icon"></div>
                    <span class="admin_text">Я админ</span>
                </div>
                <input name="admincode" class="write admincode" type="text">
            </label>
            <label for="avatar" class="sign">Загрузите вашу аватарку:</label>
            <input class="avatar" name="avatar" id="avatar" type="file">

            <input name="submit" type="submit" value="Готово" class="submit">
        </form>
    </div>
</div>
{% endblock %}